%p
  %strong Name:
  = @user.name
  %strong Email:
  = @user.email
  %strong Last Login:
  = @last_login
%p
  %strong Role:
  = @user.role
= link_to 'Edit', edit_user_path(@user)
|
= link_to 'Back', users_path
